@use "../../sass/_variables.scss" as *;

.header {
  width: 100%;
  padding: 20px 25px;
  background-color: $header-bg;
  color: $header-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__img {
    width: 120px;
  }

  &_title {
    padding: 8px;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
  }
}
