@use "../../sass/_variables.scss" as *;

.home {
  &__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;
    gap: 12px;
  }

  h1 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
  }

  &__card {
    width: 330px;

    &-description {
      padding: 16px;
      text-align: center;

      h4 {
        margin-bottom: 8px;
        font-size: 16px;
      }

      button {
        height: 34px;
        min-width: 148px;
        background-color: $btn-bg;
        font-size: 14px;
        font-weight: 700;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        color: $black;
        transition: opacity 0.15s;

        &:hover {
          opacity: 0.8;
        }

        a {
          color: $black;
        }
      }
    }
  }
}
